
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --color: #ffffff;
    --background: #222;
    --border-radius: 4rem;
    --box-shadow: 0rem 5rem rgba(0,0,0,4) 1 2;
    --blue-light: rgb(47, 168, 224);
}

*{
    margin: 0; padding: 0;
    font-family: 'Roboto', sans-serif;
    color: var(--color);
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    font-style: normal;
    transition: all .2s linear;
}

*::selection{
    background: var(--blue-light);
    color: #333;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

html::-webkit-scrollbar{
    width: 1.4rem;
}

html::-webkit-scrollbar-track{
    background: #e7f8c8;
}

html::-webkit-scrollbar-thumb{
    background: var(--blue-light);
}

body{
    background: var(--background);
    overflow-x: hidden;
    padding-left: 35rem;
}


header .navbar #title{
    font-size: 1.2rem;
    color: var(--color);
}
